@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800&display=swap');

html {
	height: 100%;
	font-family: "Montserrat", sans-serif;
}

body {
	/* height: 100%; */
	margin: auto;
	max-width: 1280px; /* 1280px */
}

h1 {
	outline: 1px solid blue;
	font-size: 2em;
	font-weight: 800;
}

h2, h3 {
	outline: 1px solid blue;
	font-size: 1.5em;
	font-weight: 600;
}

p {
	outline: 1px solid cyan;
	font-weight: 300;
}

img {
	outline: 3px solid red;
}

/* body */
#landing_page {
	background-image: linear-gradient(45deg, saddlebrown, black, saddlebrown);
}

#landing_section {
	margin: auto;
	color: white;
	margin-top: 40vh;
	text-align: center;
}

#landing_section a {
	color: lightgrey;
	text-decoration: none;
}

#landing_section a:hover {
	color: white;
	text-decoration: none;
	font-weight: 600;
}

#intro_section, #city_section, #language_section, #historical_section {
	outline: 1px solid lightgrey;
}

.intro {
	margin: auto;
}

#intro_section {
	display: flex;
    flex-direction: row;
}
	
#intro_photo {
	margin: auto;
	margin-right: 8%;
	width: 30%;
	height: auto;
}

#intro_section img {
	width: 100%;
	max-width: 300px;
	height: auto;
}
	
#intro_section h1 {
	margin: auto;
	padding-left: 8%;
}

#city_section {
	margin: auto;
}

#city_chapter {
	display: flex;
    flex-direction: row;
}

#city_photo {
	outline: none;
}

#city_chapter img {
	/* height: 100%; */
	max-height: 150px;
}

#city_chapter p {
	width: 50%;
}

#language_section {
	outline: 1px solid lightgray;
	margin: auto;
}

#language {
	outline: 1px solid lightgray;
}

#language p {
	width: 90%;
}

table {
    width: 90%;
    border-collapse: collapse;
}
  
td, th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

#historical_section {
	outline: 1px solid lightgray;
}

#historical {
	display: flex;
	flex-direction: row;
}

.historical_place {
	width: 30%;
	margin: auto;
}

#historical_section h3 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.historical_chapter {
	outline: 1px solid lightgray;
	/* display: flex;
	flex-direction: row; */
	display: inline-flex;
}

.historical_chapter p {
	width: 50%;
	font-size: 80%;
	/* padding-inline-end: 10px; */
}

.historical_chapter img {
	float: right;
	width: 50%;
	height: 50%;
	object-fit: cover;
	/* padding: 10px; */
}

@media(max-width: 960px) {
	#intro_section {
		flex-direction: column;
	}

	#intro_section h1 {
		padding-left: 0%;
	}

	#intro_section img {
		width: 100%;
		max-width: 400px;
	}
	
	#intro_photo {
		margin: auto;
		padding-right: 0%;
	}

	#city_chapter {
		flex-direction: column;
	}

	#city_photo {
		outline: none;
		display: flex;
	}
	
	#city_chapter img {
		margin: auto;
		width: 90%;
		object-fit: cover;
		object-position: top;
	}
	
	#city_chapter p {
		margin: auto;
		margin-top: 10px;
		width: 90%;
	}

	#historical {
		flex-direction: column;
	}

	.historical_place {
		width: 80%;
		margin: auto;
	}

	#historical_place_2 .historical_chapter {
		direction: rtl;
	}
}

/* Uncomment next block to remove outlines */
/* div > * {
	outline: none !important;
}

* {
	outline: none !important;
} */