body p {
    font-family: 'Zen Maru Gothic';font-size: 22px;
}

#intro_section {
    display: flex;
    flex-direction: row;
}

.intro {
    margin: auto;
}

#my_photo {
    width: 20%;
    height: auto;
}

#city {
    display: flex;
    flex-direction: row;
}

#my_city {
    width: 20%;
    height: auto;
}