body p {
    font-family: 'Zen Maru Gothic';font-size: 22px;
}

#intro_section {
    display: flex;
    flex-direction: row;
}

.intro {
    margin: auto;
}

#my_photo {
    width: 20%;
    height: auto;
}

#city {
    display: flex;
    flex-direction: row;
}

#city_photo {
    width: 40%;
    height: auto;
}

table {
    width: 80%;
    border-collapse: collapse;
}
  
td, th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}